.seats ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 170px;
    border: 1px solid;
}
.seats li{
    padding: 2px 10px;
    border-radius: 5px;

}

.seat {
    width: 20px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: .8rem;
    color: rgb(70, 69, 29);
}

.available {
    background-color: #e4e4e4;
}

.booked {
    background-color: #ffcdd2;
}